ul {
    color: red;
}

/*============= TEAM SECTION FIXED BG IMG LIGHT =============*/

/*--- Team Light Background Image --*/
.fixed-light {
    background-image: url('../img/fixed/office.jpg');
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    z-index: -1;
    top: 0;
    left: 0;
    display: table;
 }
 .light {
    background-color: rgba(255, 255, 255, .75);
    padding: 5rem 0;
    z-index: 1000;
 }
 .owl-stage {
    display: flex;
 }
 .card {
    height: 100%;
    border-radius: 0;
    text-align: center;
    margin: 0 1rem;
    border: .1rem solid rgba(0, 0, 0, .075);
    box-shadow: 0 0 .8rem rgba(0, 0, 0, .075);
    transition: transform .4s ease;
 }
 .card:hover {
    transform: scale(.95);
 }
 button.owl-dot.active span,
 button.owl-dot:hover span {
    background: #1EBBA3!important;
 }
 ul.social {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
 }
 ul.social li {
    display: inline;
    padding-right: .8rem;
 }
 ul.social li a {
    color: #1EBBA3;
    transition: all .2s ease;
 }
 ul.social li a:hover {
    color: #505962;
 }